$black_000: #000000;
$cornflowerblue_1C7CCC: #1c7ccc;
$deepskyblue_00b9f1: #00b9f1;
$mediumblue_060AB2: #060ab2;
$steelblue_0081b4: #0081b4;

body {
    background: $mediumblue_060AB2;
    height: 100vh;
}

@font-face {
    font-family: 'UI';
    src: url("../fonts/KOMIKAX_.ttf");
}

#UI {
    font-family: 'UI';
    align-content: center;
}
#titleIMG {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.button {
    
    padding: 16px;
    color: #fff !important;
    //text-transform: uppercase;
    text-decoration: none;
    width: 10vw;
    background: #60a3bc;
    border-radius: 50px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 25%;
    display: block;
    border: none;
    transition: all 0.25s ease 0s;

    &:hover {
        text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
        -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        transition: all 0.25s ease 0s;
    }
}

.memory-game {
    display: flex;
    flex-wrap: wrap;
    //text-align: center;
    max-width: 100%;
    width: 75%;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 16px;
}

.memory-card {
    width: 100px;
    height: 135px;
    margin: 16px;
    //box-shadow: 0 0 20px #00b9f1;
    transform: scale(1);
    transition: transform .5s;
    transform-style: preserve-3d;

    &.flip {
        transform: rotateY(180deg);
    }

    &:active {
        transform: scale(.97);
        transition: transform .5s;
    }

    img {
        width: 100%;
        height: auto;
        position: absolute;
    }
}

.front-face {
    backface-visibility: hidden;
    background: $cornflowerblue_1C7CCC;
    border-radius: 10px;
    height: 100%;
    position: absolute;
    transform: rotateY(180deg);
    width: 100%;
}

.back-face {
    backface-visibility: hidden;
    background: $cornflowerblue_1C7CCC;
    border-radius: 10px;
    height: 100%;
    position: absolute;
    width: 100%;
}
