
body {
    height: 100vh;
    background: #060AB2;
}

@font-face {
    font-family: 'UI';
    src: url("KOMIKAX_.ttf")
}
#UI {
    font-family: 'UI';
}
.button {
    display: block;
    width: 150px;
    margin: 0 auto;
    height: 30px;
    line-height: 30px;
    border: 1px solid black;
    color: white;
    font-weight: bold;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    background-color: #00b9f1;
    background-image: -webkit-linear-gradient(bottom, #00b9f1 0%, #0081b4 100%);
    background-image: linear-gradient(to bottom, #00b9f1 0%, #0081b4 100%);
    border-radius: 5px;
}
    .button:hover {
        background-color: #0081b4;
        background-image: -webkit-linear-gradient(bottom, #0081b4 0%, #00b9f1 100%);
        background-image: linear-gradient(to bottom, #0081b4 0%, #00b9f1 100%);
    }
.memory-game {
    display: flex;
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}
.memory-card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}
.memory-card.flip {
    transform: rotateY(180deg);
}
.memory-card:active{
    transform: scale(0.97);
}
.front-face,
.back-face {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background: #1C7CCC;
    backface-visibility:hidden;
}
.front-face {
    transform: rotateY(180deg);
}